<footer class="scds_footer">
      <div class="footer_menu">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <a href="/"><img class="footer_logo" alt="costa del sol" src="/a2f6392d6a3cb3d9e4cf2c7ac5b7336e.svg"></a>
              <address>
                <strong>Ayuntamiento de Segovia</strong><br>
                Plaza Mayor, 1<br>
                <abbr title="Phone">P:</abbr> 921 419 800
              </address>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_rights">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <p>Portal Oficial del Ayuntamiento de Segovia © 2019 - Todos los derechos reseservados </p>
            </div>
            <div class="col-md-4 links">
              <p class="pull-right">
                <a href="http://www.segovia.es/index.php/mod.pags/mem.avisoLegal">Aviso legal</a> | <a href="http://www.segovia.es/index.php/mod.pags/mem.accesskey">Accesibilidad</a>
                <img src="/aa.png" alt="aa">
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
